body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}

button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
}